<% html_title(l(:label_charts_menu)) -%>

<% content_for :sidebar do %>
  <%= render 'sidebar' %>

  <% if @versions.any? %>
    <h3><%= l(:label_show_versions) %></h3>
    <ul>
      <% @versions.each do |version| %>
        <li>
          <%= link_to_remote version.name, { :url => { :controller => :graph, :action => :show_plot_band, :project_id => @project, :type => 'version', :id => version.id } } %>
        </li>
      <% end %>
      <li>
        <%= link_to_remote l(:label_draw_all), { :url => {:controller => :graph, :action => :show_plot_band, :project_id => @project, :type => 'version', :id => 'all' } } %>
      </li>
    </ul>
  <% end %>
  <% if @milestones.any? %>
    <h3><%= l(:label_show_milestones) %></h3>
    <ul>
      <% @milestones.each do |milestone| %>
        <li>
          <%= link_to_remote milestone.name, { :url => { :controller => :graph, :action => :show_plot_band, :project_id => @project, :type => 'milestone', :id => milestone.id } } %>
        </li>
      <% end %>
      <li>
        <%= link_to_remote l(:label_draw_all), { :url => {:controller => :graph, :action => :show_plot_band, :project_id => @project, :type => 'milestone', :id => 'all' } } %>
      </li>
    </ul>
  <% end %>
  <% if @iterations.any? %>
    <h3><%= l(:label_show_iterations) %></h3>
    <ul>
      <% @iterations.each do |iteration| %>
        <li>
          <%= link_to_remote iteration.name, { :url => { :controller => :graph, :action => :show_plot_band, :project_id => @project, :type => 'iteration', :id => iteration.id } } %>
        </li>
      <% end %>
      <li>
        <%= link_to_remote l(:label_draw_all), { :url => {:controller => :graph, :action => :show_plot_band, :project_id => @project, :type => 'iteration', :id => 'all' } } %>
      </li>
    </ul>
  <% end %>
<% end %>

<h2><%= l(:label_burndown_chart) %></h2>

<script type="text/javascript">
var chart;
document.observe('dom:loaded', function(){
    var $tooltip = $('tooltip');
    $tooltip.hide();
    var $text = $('tooltiptext');
    displayTooltip = function (text, left) {
        $text.innerText = text;
        $tooltip.show();
        $tooltip.attributes['style'].value = 'left: ' + parseInt(left)  + 'px';
    };
    var timer;
    hideTooltip = function (e) {
        clearTimeout(timer);
        timer = setTimeout(function () {
            $tooltip.hide();
        }, 2500);
    };

/* Create char */
chart = new Highcharts.Chart({
  chart: {
    renderTo: 'container'
  },
  title: {
    text: ''
  },
  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle',
    borderWidth: 0
  },
  xAxis: {
    title: {
      text: 'Datumy'
    },
    tickPixelInterval: 100,
    type: 'datetime'
  },
  yAxis: {
    title: {
        text: 'Hodiny'
    }
  },
  series: [
          { name: "Odhadovana doba", data: [ <%= print_chart_line(@ideal_line) %> ] },
          { name: "Skutecna doba", data: [ <%= print_records(@current_line) %> ]}
        ]
  });
});
</script>
  <style type="text/css">
    .thetooltip {
        border: 1px solid #2f7ed8;
        background-color: #fff;
        opacity: 0.8500000000000001;
        padding: 4px 12px;
        border-radius: 3px;
        position: absolute;
        top:100px;
        box-shadow: 1px 1px 3px #666;
        z-index: 1000;
    }
  </style>
<div id="burndown_chart" class="box" style="position: relative;">
  <div id="tooltip" class="thetooltip">
      <p id="tooltiptext" style="margin:0">default</p>
  </div>
  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto; z-index: 1;"></div>
</div>
