<% html_title(l(:label_charts_menu)) -%>

<% content_for :sidebar do %>
  <%= render 'sidebar' %>

  <% if @versions.any? %>
    <h3><%= l(:label_show_versions) %></h3>
    <ul>
      <% @versions.each do |version| %>
        <li>
          <%= link_to_remote version.name, { :url => { :controller => :graph, :action => :show_plot_band, :project_id => @project, :type => 'version', :id => version.id } } %>
        </li>
      <% end %>
      <li>
        <%= link_to_remote l(:label_draw_all), { :url => {:controller => :graph, :action => :show_plot_band, :project_id => @project, :type => 'version', :id => 'all' } } %>
      </li>
    </ul>
  <% end %>
  <% if @milestones.any? %>
    <h3><%= l(:label_show_milestones) %></h3>
    <ul>
      <% @milestones.each do |milestone| %>
        <li>
          <%= link_to_remote milestone.name, { :url => { :controller => :graph, :action => :show_plot_band, :project_id => @project, :type => 'milestone', :id => milestone.id } } %>
        </li>
      <% end %>
      <li>
        <%= link_to_remote l(:label_draw_all), { :url => {:controller => :graph, :action => :show_plot_band, :project_id => @project, :type => 'milestone', :id => 'all' } } %>
      </li>
    </ul>
  <% end %>
  <% if @iterations.any? %>
    <h3><%= l(:label_show_iterations) %></h3>
    <ul>
      <% @iterations.each do |iteration| %>
        <li>
          <%= link_to_remote iteration.name, { :url => { :controller => :graph, :action => :show_plot_band, :project_id => @project, :type => 'iteration', :id => iteration.id } } %>
        </li>
      <% end %>
      <li>
        <%= link_to_remote l(:label_draw_all), { :url => {:controller => :graph, :action => :show_plot_band, :project_id => @project, :type => 'iteration', :id => 'all' } } %>
      </li>
    </ul>
  <% end %>
<% end %>

<h2><%= l(:label_burndown_chart) %></h2>

<script type="text/javascript">
var chart;
document.observe('dom:loaded', function(){
    var $tooltip = $('tooltip');
    $tooltip.hide();
    var $text = $('tooltiptext');
    displayTooltip = function (text, left) {
        $text.innerText = text;
        $tooltip.show();
        $tooltip.attributes['style'].value = 'left: ' + parseInt(left)  + 'px';
    };
    var timer;
    hideTooltip = function (e) {
        clearTimeout(timer);
        timer = setTimeout(function () {
            $tooltip.hide();
        }, 2500);
    };

/* Create char */
chart = new Highcharts.Chart({
  chart: {
    renderTo: 'container'
  },
  title: {
    text: ''
  },
  legend: {
    layout: 'vertical',
    align: 'right',
    verticalAlign: 'middle',
    borderWidth: 0
  },
  xAxis: {
    title: {
      text: '<%= l(:label_chart_dates) %>'
    },
    tickPixelInterval: 100,
    type: 'datetime'
  },
  yAxis: {
    title: {
      text: '<%= l(:label_chart_hours) %>'
    },
    min: 0
  },
  series: [
          { name: "<%= l(:label_chart_estimated_time) %>", data: [ <%= print_chart_line(@ideal_line) %> ] }
          <% if @current_line %>
              ,{ name: "<%= l(:label_chart_total_time) %>", data: [ <%= print_records(@current_line) %> ]}
          <% end %>
        ]
  });
});
</script>
<style type="text/css">
  .thetooltip {
      border: 1px solid #2f7ed8;
      background-color: #fff;
      opacity: 0.8500000000000001;
      padding: 4px 12px;
      border-radius: 3px;
      position: absolute;
      top:100px;
      box-shadow: 1px 1px 3px #666;
      z-index: 1000;
  }
</style>

<% form_tag({ :controller => :graph, :action => :burndown, :project_id => @project }, :method => :get, :id => 'graph_form') do %>
  <fieldset id="filters" class="collapsible">
    <legend onclick="toggleFieldset(this);"><%= l(:label_filter_plural) %></legend>
    <div>
      <table style="width: 50%;">
        <tbody>
          <tr>
            <td style="width: 25px;">
              <%= radio_button_tag 'filter_by', 'all', (params[:filter_by] == nil) || (params[:filter_by] == 'all') %>
            </td>
            <td style="width: 45px; padding-right: 10px; text-align: right;">
              <label for="filter_by_all"><%= l(:label_draw_all) %></label>
            </td>
            <td>
              &nbsp;
            </td>
          </tr>
          <tr>
            <td style="width: 25px;">
              <%= radio_button_tag 'filter_by', 'version', params[:filter_by] == 'version' %>
            </td>
            <td style="width: 45px; padding-right: 10px; text-align: right;">
              <label for="filter_by_version"><%= l(:label_version) %></label>
            </td>
            <td>
              <%= select_tag 'filter_by_version_id', options_for_select(@versions.map { |i| [i.name, i.id.to_s] }, params[:filter_by_version_id] ), :style => 'width: 150px' %>
            </td>
          </tr>
          <tr>
            <td style="width: 25px;">
              <%= radio_button_tag 'filter_by', 'milestone', params[:filter_by] == 'milestone' %>
            </td>
            <td style="width: 45px; padding-right: 10px; text-align: right;">
              <label for="filter_by_milestone"><%= l(:label_milestone) %></label>
            </td>
            <td>
              <%= select_tag 'filter_by_milestone_id', options_for_select(@milestones.map { |i| [i.name, i.id.to_s] }, params[:filter_by_milestone_id]), :style => 'width: 150px' %>
            </td>
          </tr>
          <tr>
            <td style="width: 25px;">
              <%= radio_button_tag 'filter_by', 'iteration', params[:filter_by] == 'iteration' %>
            </td>
            <td style="width: 45px; padding-right: 10px; text-align: right;">
              <label for="filter_by_iteration"><%= l(:label_iteration) %></label>
            </td>
            <td>
              <%= select_tag 'filter_by_iteration_id', options_for_select(@iterations.map { |i| [i.name, i.id.to_s] }, params[:filter_by_iteration_id]), :style => 'width: 150px' %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </fieldset>
    <%= link_to_function l(:button_apply), '$("graph_form").submit(); return false;', :class => 'icon icon-checked' %>
<% end %>
<br />
<br />

<div id="burndown_chart" class="box" style="position: relative;">
  <div id="tooltip" class="thetooltip">
      <p id="tooltiptext" style="margin:0">default</p>
  </div>
  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto; z-index: 1;"></div>
</div>
